/*global*/
*{
    margin:0px;
    padding:0px;
    text-align: center;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 2px;
}
img{
    max-width: 100%;
}
.propdesc{
    text-align: left;
}
/*utilities*/
.site-init{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 40vh;
    color: white;
}
.menu a{
    margin-right: 20px;
}
.site-init p{
font-size: 20px;
}

.header-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100px;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
}
.container{
    width:80%;
    margin: 0 auto;
}
.list{
    border: 2px hidden rgb(233, 219, 219);
}
/*about us*/
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.house-item{
    background-color:#dedede;
    width: 400px;
}
.price{
    color: green;
    font-weight: bolder;
}
.btn{
    display: block;
    width: 300px;
    background-color: rgb(233, 146, 17);
    color: rgb(240, 232, 232);
    text-decoration: none;
    text-align: center;
    text-transform: Uppercase;
    font-size: 14px;
    margin-top: 10px;
    padding: 20px;
}